doctype html
html
	head
		link(rel='stylesheet', href='/materialize/css/materialize.min.css')
	body
		div(class='container-fluid' style='margin-top: 8px;')
			nav
				div(class="nav-wrapper")
					a(href='#' class="brand-logo") &nbsp;Edit Board

		div(class='container-fluid' style='margin-top: 32px;')
			div(class='row')
				form(class='col s12' method='post' target='msg' action='/node/#{data.node_id}/edit')
					div(class='input-field')
						input(class='validate' type='text' id='node_id' name='node_id' value='#{data.node_id}')
						label(class='active' for='node_id' style='left: 0;') Board ID

					div(class='input-field')
						input(class='validate' type='text' id='node_ip' name='node_ip' value='#{data.node_ip}')
						label(class='active' for='node_ip' style='left: 0;') Board IP or Domain Name

					div(class='input-field')
						input(class='validate' type='text' id='node_location_city' name='node_location_city' value='#{data.node_location_city}')
						label(class='active' for='node_location_city' style='left: 0;') Board Location - City

					div(class='input-field')
						input(class='validate' type='text' id='node_location_country' name='node_location_country' value='#{data.node_location_country}')
						label(class='active' for='node_location_country' style='left: 0;') Board Location - Country

					p
						input(type='submit' class='waves-light btn waves-effect' value='Update' id='update_btn')
						input(type='reset' class='waves-light btn waves-effect right' value='Clear')

			iframe(name='msg' style='border: 0')
			//- script.
			//- 	$(document).ready(function() {
			//- 		Materialize.updateTextFields();
			//- 	});
			//-
			//- 	$('#register_btn').on('click', function(e) {
			//- 		e.preventDefault();
			//-
			//- 		var node_id = $("#node_id").val();
			//- 		var node_ip = $("#node_ip").val();
			//- 		var node_location = $("#node_location").val();
			//- 		var node_location_city = $("#node_location_city").val();
			//- 		var node_location_country = $("#node_location_country").val();
			//-
			//- 		var data = {
			//- 			node_id: node_id,
			//- 			node_ip: node_ip,
			//- 			node_location: node_location,
			//- 			node_location_city: node_location_city,
			//- 			node_location_country: node_location_country,
			//- 		};
			//-
			//- 		$.ajax({
			//- 			url: 'node/#{data.node_id}/edit',
			//- 			type: 'post',
			//- 			data: data,
			//- 			success: function(status) {
			//- 				Materialize.toast(status, 4000)
			//-
			//- 				setTimeout(function() {
			//- 					window.close();
			//- 				}, 4000);
			//- 			}
			//- 		});
			//- 	});
